{% extends "base.jinja" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="columns is-centered is-multiline" id="content"></div>
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/moment@^2.29"></script>
    <script src="/static/js/dashboard.js" type="text/javascript"></script>
    <script type="text/javascript">
      ready(getCurrentReadings);
      setInterval(getCurrentReadings, 1000 * 30); // Wait 30s
    </script>
{% endblock %}
