{% macro chart(label, name) %}
    <div class="box has-text-centered">
        <h3 class="subtitle is-3">{{ label }}</h3>
        <div class="chart-container" hidden>
            <canvas height="500" id="{{ name }}"></canvas>
        </div>
        <div class="block">
            <progress class="progress is-info is-small" id="{{ name }}-loading"></progress>
        </div>
    </div>
{% endmacro %}
